@inject HttpClient _client

<EditForm Model="@hawb" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row mb-3" style="font-family:Calibri">
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    </div>
    
    <div class="container-fluid px-0 mt-3">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: darkgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; border-top:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3 pt-4">
                        <label style="font-weight:bold; font-size:24px">AWB Number: @hawb.AwbNumber </label>
                    </div>

                    <div class="form-group mx-3">
                        <label>HAWB Number:</label>
                        <div>
                            <InputText @bind-Value="@hawb.HawbNumber" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.HawbNumber)" />
                        </div>
                    </div>
    
                    <div class="form-group mx-3">
                        <label>Shipper:</label>
                        <div>
                            <InputSelect @bind-Value="hawb.ShipperId" @oninput="PopulateShipper" class="form-control">
                                <option value="">-- Select Shipper --</option>
                                @if (Shippers != null)
                                {
                                    foreach (var shipper in Shippers)
                                    {
                                        <option value="@shipper.Id">@shipper.Name</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => hawb.ShipperId)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Consignee:</label>
                        <div>
                            <InputSelect @bind-Value="hawb.ConsigneeId" @oninput="PopulateConsignee" class="form-control">
                                <option value="">-- Select Consignee --</option>
                                @if (Consignees != null)
                                {
                                    foreach (var consignee in Consignees)
                                    {
                                        <option value="@consignee.Id">@consignee.Name</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => hawb.ConsigneeId)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Origin:</label>
                        <div>
                            <InputText @bind-Value="@hawb.Origin" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.Origin)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Destination:</label>
                        <div>
                            <InputText @bind-Value="@hawb.Destination" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.Destination)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Issuing Carrier's Agent Name and City':</label>
                        <div>
                            <InputText @bind-Value="@hawb.IssuingAgent" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.IssuingAgent)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Agent's IATA Code':</label>
                        <div>
                            <InputText @bind-Value="@hawb.AgentIataCode" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.AgentIataCode)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: darkgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Accounting Information 1):</label>
                        <div>
                            <InputText @bind-Value="@hawb.AccountingInfoA" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.AccountingInfoA)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Accounting Information 2):</label>
                        <div>
                            <InputText @bind-Value="@hawb.AccountingInfoB" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.AccountingInfoB)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Accounting Information 3):</label>
                        <div>
                            <InputText @bind-Value="@hawb.AccountingInfoC" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.AccountingInfoC)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Pieces:</label>
                        <div>
                            <InputNumber @bind-Value="@hawb.Pieces" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.Pieces)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>GW:</label>
                        <div>
                            <InputNumber @bind-Value="@hawb.GrossWeight" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.GrossWeight)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>ChW:</label>
                        <div>
                            <InputNumber @bind-Value="@hawb.ChargeableWeight" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.ChargeableWeight)" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group mx-3">
                        <label>Rate Class:</label>
                        <div>
                            <InputText @bind-Value="@hawb.RateClass" @onfocusout="CalculateAndPopulateCharges" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.RateClass)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Rate/Charge:</label>
                        <div>
                            <InputNumber @bind-Value="@hawb.RateCharge" @onfocusout="CalculateAndPopulateCharges" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.RateCharge)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Total:</label>
                        <div>
                            <InputNumber @bind-Value="@hawb.TotalCharge" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.TotalCharge)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: darkgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>First Carrier Code:</label>
                        <div>
                            <InputText @bind-Value="@hawb.FirstCarrierCode" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.FirstCarrierCode)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>First Flight Destination:</label>
                        <div>
                            <InputText @bind-Value="@hawb.FirstFlightDest" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.FirstFlightDest)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>First Flight Number and Date:</label>
                        <div>
                            <InputText @bind-Value="@hawb.FirstFlightNoAndDate" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.FirstFlightNoAndDate)" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group mx-3">
                        <label>Second Carrier Code:</label>
                        <div>
                            <InputText @bind-Value="@hawb.SecondCarrierCode" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.SecondCarrierCode)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Second Flight Destination:</label>
                        <div>
                            <InputText @bind-Value="@hawb.SecondFlightDest" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.SecondFlightDest)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Second Flight Number and Date:</label>
                        <div>
                            <InputText @bind-Value="@hawb.SecondFlightNoAndDate" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.SecondFlightNoAndDate)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Handling Information 1):</label>
                        <div>
                            <InputText @bind-Value="@hawb.HandlingInfoA" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.HandlingInfoA)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Handling Information 2):</label>
                        <div>
                            <InputText @bind-Value="@hawb.HandlingInfoB" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.HandlingInfoB)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Handling Information 3):</label>
                        <div>
                            <InputText @bind-Value="@hawb.HandlingInfoC" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.HandlingInfoC)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>SCI:</label>
                        <div>
                            <InputText @bind-Value="@hawb.Sci" class="form-control w-50"/>
                            <ValidationMessage For="@(()=> hawb.Sci)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: darkgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Reference Number:</label>
                        <div>
                            <InputText @bind-Value="@hawb.ReferenceNo" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.ReferenceNo)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Optional Shipping Info 1):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OptionalShippingInfoA" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OptionalShippingInfoA)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Optional Shipping Info 2):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OptionalShippingInfoB" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OptionalShippingInfoB)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Currency:</label>
                        <div>
                            <InputText @bind-Value="@hawb.Currency" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.Currency)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>CHGS Code:</label>
                        <div>
                            <InputText @bind-Value="@hawb.ChgsCode" @onfocusout="ChangePrepaidAndCollect" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.ChgsCode)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Declared Value For Carriage:</label>
                        <div>
                            <InputText @bind-Value="@hawb.DeclaredValueCarriage" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.DeclaredValueCarriage)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Declared Value For Customs:</label>
                        <div>
                            <InputText @bind-Value="@hawb.DeclaredValueCustoms" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.DeclaredValueCustoms)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Amount of Insurance:</label>
                        <div>
                            <InputText @bind-Value="@hawb.AmountOfInsurance" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.AmountOfInsurance)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: darkgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 1):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsA" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsA)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 2):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsB" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsB)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 3):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsC" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsC)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 4):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsD" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsD)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 5):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsE" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsE)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 6):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsF" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsF)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 7):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsG" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsG)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 8):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsH" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsH)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 9):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsI" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsI)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Nature and Quantity of Goods 10):</label>
                        <div>
                            <InputText @bind-Value="@hawb.NatureAndQttyGoodsJ" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.NatureAndQttyGoodsJ)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Other Charge 1):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OtherChargeA" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OtherChargeA)" />
                        </div>
                    </div>

                    <div class="form-group mx-3">
                        <label>Other Charge 2):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OtherChargeB" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OtherChargeB)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Other Charge 3):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OtherChargeC" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OtherChargeC)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Other Charge 4):</label>
                        <div>
                            <InputText @bind-Value="@hawb.OtherChargeD" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.OtherChargeD)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-5 pb-2 pt-3"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="form-group mx-3">
                    <label>Weight Charge Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.WeightChargePP" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.WeightChargePP)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Valuation Charge Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.ValuationChargePP" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.ValuationChargePP)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Tax Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TaxPP" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TaxPP)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Other Charges Due Agent Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalOtherChargesDueAgentPP" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalOtherChargesDueAgentPP)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Other Charges Due Carrier Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalOtherChargesDueCarrierPP" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalOtherChargesDueCarrierPP)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Prepaid:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalPrepaid" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalPrepaid)" />
                    </div>
                </div>
            </div>

            <div class="col-5 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="form-group mx-3">
                    <label>Weight Charge Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.WeightChargeCC" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.WeightChargeCC)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Valuation Charge Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.ValuationChargeCC" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.ValuationChargeCC)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Tax Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TaxCC" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TaxCC)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Other Charges Due Agent Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalOtherChargesDueAgentCC" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalOtherChargesDueAgentCC)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Other Charges Due Carrier Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalOtherChargesDueCarrierCC" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalOtherChargesDueCarrierCC)" />
                    </div>
                </div>
                <div class="form-group mx-3">
                    <label>Total Collect:</label>
                    <div>
                        <InputNumber @bind-Value="@hawb.TotalCollect" class="form-control"/>
                        <ValidationMessage For="@(()=> hawb.TotalCollect)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-10 pb-2 pt-3 mr-2"  style="background-color: lightgray; border-left:1px solid; border-right:1px solid; border-bottom:1px solid; font-family:Calibri">
                <div class="row">
                    <div class="form-group mx-3">
                        <label>Issuing Date:</label>
                        <div>
                            <InputDate @bind-Value="@hawb.IssuingDate" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.IssuingDate)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Issuing Place:</label>
                        <div>
                            <InputText @bind-Value="@hawb.IssuingPlace" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.IssuingPlace)" />
                        </div>
                    </div>
                    <div class="form-group mx-3">
                        <label>Issuing Person Full Name:</label>
                        <div>
                            <InputText @bind-Value="@hawb.IssuingPersonFullName" class="form-control"/>
                            <ValidationMessage For="@(()=> hawb.IssuingPersonFullName)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3" style="font-family:Calibri">
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    </div>

</EditForm>

@code {
    
    [Parameter] public Hawb hawb { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    
    private IList<Shipper> Shippers;
    private IList<Consignee> Consignees;

    protected async override Task OnInitializedAsync()
    {
        
        Shippers = await _client.GetFromJsonAsync<IList<Shipper>>(Endpoints.ShippersEndpoint);
        Consignees = await _client.GetFromJsonAsync<IList<Consignee>>(Endpoints.ConsigneesEndpoint);
    }

    private async Task PopulateShipper()
    {
        await OnInitializedAsync();
        var shipper = Shippers.FirstOrDefault(q => q.Id == hawb.ShipperId);

        if(shipper != null)
        {
            hawb.ShipperName = shipper.Name;
            hawb.ShipperAddressA = shipper.AddressA;
            hawb.ShipperAddressB = shipper.AddressB;
            hawb.ShipperEmail = shipper.Email;
            hawb.ShipperPhoneNumber = shipper.PhoneNumber;
        }

    }

    private async Task PopulateConsignee()
    {
        await OnInitializedAsync();
        var consignee = Consignees.FirstOrDefault(q => q.Id == hawb.ConsigneeId);

        if(consignee != null)
        {
            hawb.ConsigneeName = consignee.Name;
            hawb.ConsigneeAddressA = consignee.AddressA;
            hawb.ConsigneeAddressB = consignee.AddressB;
            hawb.ConsigneeEmail = consignee.Email;
            hawb.ConsigneePhoneNumber = consignee.PhoneNumber;
        }
        
    }

    private async Task CalculateAndPopulateCharges()
    {
        if(hawb.ChgsCode.ToUpper() == "PP")
        {
            if(hawb.RateClass.ToUpper() == "M" || hawb.RateClass.ToUpper() == "MIN")
            {
                hawb.TotalCharge = hawb.RateCharge;
                hawb.WeightChargePP = hawb.TotalCharge;

            }
            else
            {
                hawb.TotalCharge = Math.Round((hawb.RateCharge * hawb.ChargeableWeight), 2);
                hawb.WeightChargePP = Math.Round(hawb.TotalCharge, 2);
            }

            hawb.TotalPrepaid = Math.Round((hawb.WeightChargePP + hawb.ValuationChargePP + hawb.TaxPP + hawb.TotalOtherChargesDueAgentPP + hawb.TotalOtherChargesDueCarrierPP), 2);
            await OnInitializedAsync();
        }

        if(hawb.ChgsCode.ToUpper() == "CC")
        {
            if(hawb.RateClass.ToUpper() == "M" || hawb.RateClass.ToUpper() == "MIN")
            {
                hawb.TotalCharge = hawb.RateCharge;
                hawb.WeightChargeCC = hawb.TotalCharge;
            }
            else
            {
                hawb.TotalCharge = Math.Round((hawb.RateCharge * hawb.ChargeableWeight), 2);
                hawb.WeightChargeCC = Math.Round(hawb.TotalCharge, 2);
            }

            hawb.TotalCollect = Math.Round((hawb.WeightChargeCC + hawb.ValuationChargeCC + hawb.TaxCC + hawb.TotalOtherChargesDueAgentCC + hawb.TotalOtherChargesDueCarrierCC), 2);
            await OnInitializedAsync();
        }
    }

    private async Task ChangePrepaidAndCollect()
        {
            hawb.WeightChargeCC = hawb.ValuationChargeCC = hawb.TaxCC = hawb.TotalOtherChargesDueAgentCC = hawb.TotalOtherChargesDueCarrierCC = 0;
            hawb.WeightChargePP = hawb.ValuationChargePP = hawb.TaxPP = hawb.TotalOtherChargesDueAgentPP = hawb.TotalOtherChargesDueCarrierPP = 0;
            await CalculateAndPopulateCharges();
            await OnInitializedAsync();
        }

    

}
